@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* カラー */
  --white:#ffffff;
  --gray-80:#d1d1d1;
  --gray-60:#a3a3a3;
  --gray-40:#767676;
  --gray-10:#313131;
  --black:#000000;
  --accent:#ffb700;
  --primary:#013b94;
}